* {
    box-sizing: border-box;
}

body {
    width: 550px;
    left: 155px;
    top: 959px;
    background: #1F2937;
    color: white;
    text-align: center;
    margin: 30px auto;
    border: 2px solid white;
}

p {
    font-size: 15px;
}

.header {
    background: #3A69D2;
    padding: 20px 109px 30px 87px
}

.subTitle {
    display: flex;
    padding: 0px 20px;
    font-size: 12px;
}

.inputs {
    padding: 20px 10px 10px 10px;
    display: flex;
}

input {
    margin: 5px;
    display: block;
    border: none;
    height: 30px;
    background: white;
    border-radius: 6px;
    text-align: center;
}

#inputs-name {
    width: 300px;
}

#inputs-money {
    width: 100px;
}

#total-amount {
    padding-right: 20px;
    margin-top: 0;
    text-align: right;
}

button {
    font-family: 'Inter', sans-serif;
    font-weight: bold;

    padding:10px;
    margin: 0 5px;

    background: #D1D4F4;
    color: black;
    width: 150px;

    border: none;
    border-radius: 5px;

    cursor: pointer;
}

button:active {
    box-shadow: 0 2px #666;
    transform: translateY(4px);
}

#remove-btn {
    background-color: #1F2937;
    color: white;
    font-size: 8px;
    margin-left: 0px;
}

#reset-btn {
    justify-content: center;
    align-items: center;
    padding: 9px 17px 9px 15px;
    width: 473px;
    height: 44px;
    left: 38px;
    top: 532px;
    margin-bottom: 20px;

    background: #3A69D2;
}

.task-money {
    margin-left: auto;
}

#task {
    padding: 0px 15px;
}